#
# Copyright (c) 2022 Roelof Rietbroek
#
#

module = GNSSR
module-str = GNSS reflectometer

menu "GNSS-reflectometer"

config GNSS_MIN_ELEV
        int "Minimum elevation angle for GNSS satellites"
        range 0 90
        default 2
        help
          Cutoff elevation angle for GNSS satellites.

config UPLOAD_CLIENT
	bool "Enable file uploads"
        default y
        help
	  Allows uploading of data files to webdav folder
	select MODEM_KEY_MGMT 
        select AT_CMD_PARSER
        select NRF_MODEM_LIB
        select HTTP_CLIENT

source "${NRF_BASE}/lib/supl/Kconfig" 

source "subsys/logging/Kconfig.template.log_config"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

