#
# Copyright (c) 2022 Roelof Rietbroek
#
#

module = GNSSR
module-str = GNSS reflectometer

menu "GNSS-reflectometer"

config GNSS_MIN_ELEV
        int "Minimum elevation angle for GNSS satellites"
        range 0 90
        default 2
        help
          Cutoff elevation angle for GNSS satellites.

config UPLOAD_CLIENT
	bool "Enable file uploads"
        default y
        help
	  Allows uploading of data files to webdav folder
	select MODEM_KEY_MGMT 
        select AT_CMD_PARSER
        select NRF_MODEM_LIB
        select HTTP_CLIENT

config GNSSR_VERSION
	string "Set GNSS-R app version"
        default "V1.0"
        help
	  Sets app version to be printed when board info is requested

config GNSSR_CONTACT
	string "Set contact information"
        default "https://github.com/ITC-Water-Resources/actinius-gnssr"
        help
	  Sets the contact info to be printed when board info is requested

#config BOARD_SELECT_SIM_EXTERNAL
      #bool "select external sim instead of esim"
      #default n
      #help 
        #select external sim instead of esim

        


source "${NRF_BASE}/lib/supl/Kconfig" 

source "subsys/logging/Kconfig.template.log_config"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

