/* 
* Set up sdhc0 element to work with a featherwing datalogger.
* Author R. Rietbroek 
* Updated: Jun 2023
*/

&spi3 {
        status = "okay";
        cs-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;

        sdhc0: sdhc@0 {
                compatible = "zephyr,sdhc-spi-slot";
                reg = <0>;
                status = "okay";
                mmc {
                        compatible = "zephyr,sdmmc-disk";
                        status = "okay";
                };
                spi-max-frequency = <8000000>;
        };
};

