/* 
* Use external sim when connecting to LTE networks Author R. Rietbroek 
*see https://docs.actinius.com/icarus/datasheet#esim-and-external-sim
*/

&sim_select{
                sim = "external";
};
